[submodule "sdk"]
	path = sdk
	url = git@github.com:urnetwork/sdk.git
[submodule "connect"]
	path = connect
	url = git@github.com:urnetwork/connect.git
[submodule "android"]
	path = android
	url = git@github.com:urnetwork/android.git
[submodule "fdroiddata"]
	path = fdroiddata
	url = git@gitlab.com:urnetwork/fdroiddata.git
